@import "compass";
$dark-01: #111113;
$dark-02: #222222;
$dark-03: #17181E;
$dark-04: #31343D;
$dark-05: #373737;
$orange-01: #f2601f;
$orange-02: #ef6c00;
$green-01: #2DBE60;
$blue-01: #0187e0;
$light-00: #838c91;
$light-01: #98aec1;
$light-02: #cdd4d8;
$light-03: #eaeaea;
$light-04: #F4F4F4;


body {
  font-family: 'Montserrat', sans-serif !important;
  color: #444444;
  font-size: 16px;
  background-color: #EBEBEB;
}
a {
  &:hover {
    text-decoration: none;
  }
  &:visited {
    text-decoration: none;
  }
}
h1 {
  font-weight: 600;
  font-size: 32px;
  margin-bottom: 24px;
}
h2 {
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  font-size: 18px;
  margin-bottom: 20px;
  padding-bottom: 0px;
}
h4 {
  color: $light-00;
}
.navbar {
  background-color: $dark-04;
  &-brand {
    height: auto !important;
  }
  &-nav a {
    color: #444444;
    padding: 20px 15px;
    display: inline-block;
    @media (max-width: 767px) {
      display: block;
    }
  }
  &-form {
    padding: 0px 10px;
    display: inline-block;
    position: absolute;
    left: 50%;
    top: 40%;
    transform: translate(-50%, -50%);
  }
  &-header {
    .icon-bar {
      background-color: $light-04;
    }
  }
}
.form-control {
    color: $light-01;
    background-color: $dark-02;
    border-radius: 0px;
    border-width: 1px;
    border-color: lighten($dark-04, 10%);
}
.btn-categories {
  color: $light-03;
  background-color: rgba(0, 0, 0, 0);
  border-radius: 0px;
  border-style: none;
  &:hover {
    color: $light-03;
    background-color: lighten($dark-04, 10%);
  }
  &:active {
    background-color: lighten($dark-04, 10%);
  }
  &:focus {
    color: $light-03;
    background-color: lighten($dark-04, 10%);
  }
}
.drop-container {
  padding: 18px 0;
  display: inline-block;
}
.span-dropdown {
  font-size: 16px;
  padding: 0 20px;
}
.dropdown-menu {
  font-size: 16px;
  width: 200px;
}

.nav-wrapper {
  height: 80px;
}
.ui-card-download {
  cursor: pointer;
  position: relative;
  border-style: solid;
  border-color: #cdd4d8;
  border-width: 1px;
  background-color: #FFF;
  margin-bottom: 20px;
  @include transition(all,.3s);
  &:hover {
    box-shadow: 0 0 25px 0px rgba(42,42,42,.3);
  }
  &:hover .overlay-icon-download {
    opacity: 1;
  }
  &:hover .card-overlay {
    opacity: .4;
  }
  &:before {
    content: "";
    padding-top: 100%;
    display: block;
  }
}
.ui-card {
  cursor: pointer;
  position: relative;
  border-style: solid;
  border-color: #cdd4d8;
  border-width: 1px;
  background-color: #FFF;
  margin-bottom: 20px;
  @include transition(all,.3s);
  &:hover {
    box-shadow: 0 0 25px 0px rgba(42,42,42,.3);
  }
  &:hover .overlay-icon {
    opacity: 1;
  }
  &:hover .card-overlay {
    opacity: .4;
  }
  &:before {
    content: "";
    padding-top: 100%;
    display: block;
  }
  &__content {
    top: 50%;
    left: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
  }
  &__color-dark-1 {
    background-color: $dark-01;
  }
  &__color-dark-2 {
    background-color: $dark-02;
  }
  &__color-dark-3 {
    background-color: $dark-03;
  }
  &__color-dark-4 {
    background-color: $dark-04;
  }
  &__color-dark-5 {
    background-color: $dark-05;
  }
  &__color-orange-1 {
    background-color: $orange-01;
  }
  &__color-orange-2 {
    background-color: $orange-02;
  }
  &__color-green-1 {
    background-color: $green-01;
  }
  &__color-blue-1 {
    background-color: $blue-01;
  }
  &__color-light-1 {
    background-color: $light-01;
  }
  &__color-light-2 {
    background-color: $light-02;
  }
  &__color-light-3 {
    background-color: $light-03;
  }
  &__color-light-4 {
    background-color: $light-04;
  }
}
.font-style {
  &--light {
    color: white;
  }
  &--dark {
    color: #333333;
  }
}
.card-overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
  background-color: $dark-04;
}
.overlay-icon {
  position: absolute;
  top: 85%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 16px;
  color: white;
  opacity: 0;
  transition: .5s ease;
}
.overlay-icon-download {
  position: absolute;
  width: 100%;
  top: 85%;
  left: 70%;
  transform: translate(-50%, -50%);
  font-size: 16px;
  color: white;
  opacity: 0;
  transition: .5s ease;
}
.branding-assets {
  display: inline-block;
  width: 160px;
  padding: 0 10px;
}
.icons-assets {
  display: inline-block;
  width: 100px;
  padding: 0 10px;
}
.logo {
  display: inline-block;
  width: 150px;
}
.typo-p {
  font-size: 34px;
  color: $dark-04;
  &--400 {
    font-weight: 400;
  }
  &--500 {
    font-weight: 500;
  }
  &--600 {
    font-weight: 600;
  }
  &--700 {
    font-weight: 700;
  }
}
.tooltip.bottom .tooltip-inner {
  font-size: 16px;
  max-width: 300px;
  padding: 3px 8px;
  text-align: center;
  border-radius: 5px;
}
